[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
confluent-kafka = "*"
mlflow = "*"
pandas = "*"
pymongo = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
